<div class="container-search">

    <br /><br />
    {{#results}}
    <h1>{{this.sname}}</h1>
    <h4>{{this.city}}, {{this.state}}</h4>

    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/schoolsearch">Search For Schools</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{this.sname}}</li>
                </ol>
            </nav>
        </div>
    

        <div class="col-6">
            <form class="filter-form" action="/viewschool/{{this.sid}}" method="POST">
            {{/results}}
                <select class="rounded" name="building" id="building-filter">
                    <option value="">Building</option>
                    {{#each buildings}}
                    <option value="{{this.bname}}">{{this.bname}}</option>
                    {{/each}}
                    </select>

                <select class="rounded" name="fits" id="fits-filter">
                    <option value="">Fits</option>
                    <option value="0">less than 5</option>
                    <option value="5">5-10</option>
                    <option value="10">greater than 10</option>
                </select>

                <select class="rounded" name="rating" id="rating-filter">
                    <option value="">Average Rating</option>
                    <option value="4">>=4</option>
                    <option value="3">>=3</option>
                    <option value="2">>=2</option>
                </select>

                <select class="rounded" name="sortby" id="sortby">
                    <option value="">Sort By</option>
                    <option value="room_avg_rating">Rating</option>
                    <option value="bname">Building A-Z</option>
                    <option value="fits">Size</option>
                </select>
                <input class="apply btn btn-primary rounded" type="submit" value="Apply">
            </form>
        </div>
    </div>


    <br />
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Building</th>
                <th scope="col">Room Number</th>
                <th scope="col">Address</th>
                <th scope="col">Fits</th>
                <th scope="col">Reviews</th>
                <th scope="col">Rating</th>
            </tr>
        </thead>
        <tbody>

            {{#rooms}}


            <tr onclick="window.location='/viewroom/{{this.sid}}/{{this.rid}}'">
                <td>{{this.bname}}</td>
                <td>{{this.rno}}</td>
                <td>{{this.address}}</td>
                <td>{{this.fits}}</td>
                <td>{{this.num_reviews}}</td>
                <td>{{this.room_avg_rating}}</td>
            </tr>
            {{/rooms}}
            {{#results}}
        </tbody>
    </table>
    <br /><br />



    <div class="row">
        <div class="col">
            <h1 style="font-size: 3em; margin-bottom: 2.5em;">Average Rating:</h1>

            <div class="row">
                {{#if this.school_avg_rating}}
                <div class="vertical-center">
                    <input class="rating" max="5" readonly {{!--
                        oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)" --}} step="0.5"
                        style="--value:{{this.school_avg_rating}}" type="range" value="{{this.school_avg_rating}}">
                </div>
                <div class="vertical-center" style="margin-left: 16em;">
                    <h2 class="vertical-center">{{this.school_avg_rating}}/5</h2>
                </div>
                {{else}}
                <div class = "vertical-center">
                <input class="rating" max="5" readonly {{!--
                oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)" --}} step="0.5"
                style="--value:0" type="range" value="0">
                </div>
                {{/if}}
            </div>
        </div>
        <div class="col">
            <h1 style="font-size: 3em">Number of Rooms:</h1>
            <h2>{{this.numrooms}}</h2>
            <form method="get">
            <div class="d-grid gap-2 col-4 px-0">
                <a href="/user/{{this.sid}}/addroom" type="button" class="btn btn-primary">Add Study Room &nbsp;&nbsp;<i
                        class="fa-solid fa-plus"></i></a>
            </div>
            </form>
        </div>
    </div>

    {{/results}}
    <br /> <br />
</div>