<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/myprofile.css">
    <script src="bootstrap.bundle.min.js"></script>
    <title>My Profile</title>
</head>
<body>
    <div class="row profile-title">
        <div class="vertical-center text-center">
            <h1>My Profile</h1>
        </div>
    </div>
    <div class="row profile-info">
        <div class="col-1"></div>
        <div class="col-1">
            {{#if user.pfp}}
                <img src="data:image/png;base64,{{user.pfp}}" alt="pfp" class="profile-pic" style="padding: none;">
            {{/if}}
            {{#unless user.pfp}}
                <img src="images/logo_purple.png" alt="pfp" class="profile-pic">
            {{/unless}}
        </div>
        <div class="col profile-col-1">
            <p class="username">{{user.username}}</p>
            <a type="button" class="btn btn-primary" style="width:150px" href="/user/editprofile">Edit Profile</a>
        </div>
        <div class="col-2"></div>
        <div class="col profile-col-2">
            <div>
                <span class="spaces-rated-num">{{reviews.length}}</span><span class="spaces-span" style="margin-left: 20px;">spaces rated</span>
            </div>
            {{#if fave}}
            <span class="spaces-span">Favorite Space: </span><span class="spaces-span">{{fave.bname}} {{fave.rno}}</span>
            {{else}}
            <span class="spaces-span">Favorite Space: </span><span class="spaces-span">N/A</span>
            {{/if}}
        </div>
    </div>
    {{#if msg}}
        <div class="alert alert-success alert-dismissible" role="alert">
            <strong>{{bname}} {{rno}}</strong> deleted succesfully.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
        </div>
    {{/if}}
    <div class="row spaces justify-content-center">
        <div class="col-5">
            <div class="my-spaces">
                <h2 class="text-center">My Spaces</h2>
                <ul style="list-style-type: none;">
                    {{#each rooms}}
                    <li style="border-bottom: 1px solid gray; margin:5px;">
                        <div class="row justify-content-between">
                            <div class="col"><h4><a style="color: #212529;" href="/viewroom/{{sid}}/{{rid}}">{{bname}} {{rno}}</a></h4></div>
                            <div class="col-2"><h5><a href="/user/editroom/{{sid}}/{{rid}}">Edit</a></h5></div>
                            <div class="col-2"><h5><a href="/user/myprofile/delete/{{sid}}/{{rid}}">Delete</a></h5></div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <div class="rated-spaces">
                <h2 class="text-center">Rated Spaces</h2>
                <ul style="list-style-type: none;">
                    {{#each reviews}}
                        <li style="border-bottom: 1px solid gray; margin:5px;">
                            <div><h4 style="color: #9D4CBA;">{{rating}}<i class="fa-sharp fa-solid fa-star"></i></h4><p>{{content}}</p></div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    
    <script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>
</body>
</html>