<div class = "container-search">
<br />

{{!-- Optional Header --}}
{{!-- <h1>Search for schools</h1> --}} 

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Search for Schools</li>
  </ol>
</nav>

<div class="row home-landing">
    <div class="col-10">

        {{!-- We should validate the search query for the frontend --}}
        <form class="input-group rounded" method="POST" action = "/schoolsearch" novalidate>
            <input type="text" class="form-control rounded mr-2 ml-0" placeholder="Search for your school" name = "search">

                  <select class="rounded" name="state" id="state-filter">
                    <option value="">State</option>
                    {{#each states}}
                    <option value="{{this.state}}">{{this.state}}</option>
                    {{/each}}
                  </select>

                  <select class="rounded" name="city" id="city-filter">
                    <option value="">City</option>
                    {{#each cities}}
                    <option value="{{this.city}}">{{this.city}}</option>
                    {{/each}}
                  </select>

                  <select class="rounded" name="rating" id="rating-filter">
                    <option value="">Average Rating</option>
                    <option value="4">>=4</option>
                    <option value="3">>=3</option>
                    <option value="2">>=2</option>
                    
                  </select>

                  <select class="rounded" name="sortby" id="sortby">
                    <option value="">Sort By</option>
                    <option value="school_avg_rating">Rating</option>
                    <option value="sname">Name A-Z</option>
                    <option value="city">City A-Z</option>
                  </select>

            <button class="fa-solid fa-magnifying-glass" id = "search-button"></button>
        </form>
    </div>

</div>


<br />
{{#if results}}

{{#if count}}

{{#if (gt count 1)}}

{{#if searchterm}}
<h2>{{count}} results with "<b class = "searchterm-bold">{{searchterm}}</b>" in their name</h2><br />
{{/if}}

{{else}}
<h2>{{count}} result with "<b class = "searchterm-bold">{{searchterm}}</b>" in its name</h2><br />
{{/if}}

{{/if}}
<table class="table table-hover">
  <thead class = "thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Average Rating</th>
      <th scope="col">Address</th>
      <th scope="col">Number of Rooms</th>
    </tr>
  </thead>
  <tbody>
    {{#each results}}
    <tr onclick=
"window.location='/viewschool/{{this.sid}}'" > 
      <td>{{this.sname}}</td>
      <td>{{this.school_avg_rating}}</td>
      <td>{{this.city}}, {{this.state}}</td>
      <td>{{this.numrooms}}</td>
      
    </tr>

    {{/each}}
  </tbody>
</table>
{{else}}
<h2>No results with "<b class = "searchterm-bold">{{searchterm}}</b>" in their name</h2><br />
{{/if}}
<br />

        <h5>Don't see the school you're looking for?</h5>
        <a href="/addschool" type="button" class="btn btn-primary">Add School &nbsp;&nbsp;<i class="fa-solid fa-plus"></i></a>

{{!-- <a href="#" type ="button" class = "btn btn-light">Edit School &nbsp;&nbsp;<i class = "fa-solid fa-pen-to-square"></i></a>
<a href="#" type ="button" class = "btn btn-light">Delete School &nbsp;&nbsp;<i class = "fa-solid fa-trash"></i></a> --}}

</div>