<div class="container-search">

    <br /><br />
    {{#each results}}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/schoolsearch">Search For Schools</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{this.sname}}</li>
        </ol>
    </nav>


    <h1>{{this.sname}}</h1>
    <h4>{{this.city}}, {{this.state}}</h4>

    <br /><br />

    <div class="row">
        <div class="col">
            <h1 style="font-size: 3em;">Average Rating:</h1>

            <input class="rating" max="5" readonly {{!--
                oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)" --}} step="0.5"
                style="--value:{{this.avg_rating}}" type="range" value="{{this.avg_rating}}">
            </label>


            {{!-- <input type="hidden" class="rating" />
            <script>
                $('input').rating('rate', 2.5)
            </script> --}}
        </div>
        <div class="col">
            <h1 style="font-size: 3em">Number of Rooms:</h1>

            <h2 style="font-size: 3em;">{{this.numrooms}}</h2>

            <div class="d-grid gap-2 col-4 px-0">
                <a href="/addstudyroom" type="button" class="btn btn-primary">Add Study Room &nbsp;&nbsp;<i class="fa-solid fa-plus"></i></a>
            </div>

        </div>
    </div>



    {{/each}}

</div>