<div class="container-search">

    <br /><br />

    {{#results}}

    <div class="row">
        <div class="col-5">
            <h1>{{this.bname}} {{this.rno}}</h1>

            {{!-- {{/results}}
            {{#school}} --}}
            <h4>{{this.sname}}</h4>
            {{!-- {{/school}}
            {{#results}} --}}

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/viewschool/{{this.sid}}/">School View</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{this.bname}} {{this.rno}}</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col">
                    {{#if this.room_avg_rating}}
                    <input class="rating" max="5" readonly {{!--
                        oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)" --}} step="0.5"
                        style="--value:{{this.room_avg_rating}}" type="range" value="{{this.room_avg_rating}}">
                </div>


                <div class="col">
                    <h5 class="vertical-center">{{this.room_avg_rating}}/5</h5>
                    {{else}}
                    <input class="rating" max="5" readonly {{!--
                        oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)" --}} step="0.5"
                        style="--value:0" type="range" value="0">

            {{/if}}
                </div>
            </div>
            {{#if this.room_avg_rating}}
            Based on {{this.num_reviews}} reviews
               <br />
            {{/if}}

            <br />

            <h5>Location:</h5>
            <p> {{this.address}}</p>
            <h5>Fits:</h5>
            <p>{{this.fits}}</p>

            <h5>Description:</h5>
            <p>{{this.description}}</p>

            <a href="/{{this.sid}}/{{this.rid}}/rate" type="button" class="btn btn-primary">Rate This Room</a>
        </div>
        
        <div class="col">
            <img src="/images/logo_purple.png">
        </div>
    </div>

    <br /> <br />
    <h5>Ratings</h5>

    {{/results}}
    <br /> <br />
</div>