<div class="container-search">

    <br /><br />

    {{#results}}

    <div class="row">
        <div class="col-5">
            <h1>{{this.bname}} {{this.rno}}</h1>

            {{!-- {{/results}}
            {{#school}} --}}
            <h4>{{this.sname}}</h4>
            {{!-- {{/school}}
            {{#results}} --}}

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/viewschool/{{this.sid}}/">School View</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{this.bname}} {{this.rno}}</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col">
                    {{#if this.room_avg_rating}}
                    <input class="rating" max="5" readonly {{!--
                        oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)" --}} step="0.5"
                        style="--value:{{this.room_avg_rating}}" type="range" value="{{this.room_avg_rating}}">
                </div>


                <div class="col">
                    <h5 class="vertical-center">{{this.room_avg_rating}}/5</h5>
                    {{else}}
                    <input class="rating" max="5" readonly {{!--
                        oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)" --}} step="0.5"
                        style="--value:0" type="range" value="0">

            {{/if}}
                </div>
            </div>
            {{#if this.room_avg_rating}}
            Based on {{this.num_reviews}} reviews
               <br />
            {{/if}}

            <br />

            <h5>Location:</h5>
            <p> {{this.address}}</p>
            <h5>Fits:</h5>
            <p>{{this.fits}}</p>

            <h5>Description:</h5>
            <p>{{this.description}}</p>

            <a href="/{{this.sid}}/{{this.rid}}/rate" type="button" class="btn btn-primary">Rate This Room</a>
        </div>
        
        {{/results}}
        <div class="col">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {{#each pics}}
                        <div class="carousel-item {{#if @first}}active {{/if}}">
                            <img src="data:image/png;base64,{{data}}" class="d-block w-80" alt="{{imagename}}" style="object-fit: cover; max-height: 400px; width:100%;">
                        </div>
                    {{/each}}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <br /> <br />
    <h5>Ratings</h5>
    <ul style="list-style-type: none;">
        {{#each reviews}}
            <li style="border-bottom: 1px solid gray; margin:5px;">
                <div><h4 style="color: #9D4CBA;">{{rating}}<i class="fa-sharp fa-solid fa-star"></i> - {{username}}</h4><p>{{content}}</p></div>
            </li>
        {{/each}}
    </ul>
    <br /> <br />
</div>